/*-----------------------------------------------*/

*{box-sizing: border-box;}
body {font-family: Times New Roman, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 90%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px #CCCCCC;
}

/* Caption text */
.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #F7ECDE;
  border-radius: 15px;
  font-weight: bold;
  color: #00a86b;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .5} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/*-----------------------------------------*/

*{
	margin: 0;
	padding: 0;
	color: black;
	box-sizing: border-box;
	font-family: sans-serif;
}

body{
	font: 100%/125% “Optima ”, Optima ; 
	margin-right: 0%;
	margin-left: 0%;
	padding: 0px;
}

#wrapper{
	margin: 10px;
	padding: 0px;
	width: 100%;
	border-radius: 8px;
}

#page{
	background-color: #fff;
	margin-top: 100px;
	margin-bottom: 100px;
	border-radius: 5px;
	border: 1px solid #00a86b;
	box-shadow: 1px 1px 1px 1px #aaaaaa;
	
}

#header {
	background-color: #fff;
	height: 100px;
	margin-bottom: 70px;
}

#header p{
	color: #FFF;
	font-family: Optima ;
	font-size: 1.5rem;
	text-align: left;
	margin-top: 10px;
	margin-left: 25px;
}

#header p:hover{
	color: #3333FF;
}

#footer {
	clear: both;
	margin-top: 50px;
	background-color: #00a86b;
}

#footer p{
	font-size: 10pt;
	font-style: italic;
	color: #FFF;
	padding: 3px;
	background-color: #00a86b;
	
}
.footer_l{
	float: left;
	width: 70%;
	padding-left: 50%;
	background-color: #00a86b;
	
}

.footer_r{
	float: right;
	width: 30%;
	background-color: #00a86b;
}


.gioithieu{
	background: white;
	width: 90%;
	margin: auto;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 1px 1px 1px 1px #aaaaaa;
}

.box {
	float: left;
	width: 100;
	height: 100px;
	border-radius: 8px;
	background-color: lightblue;
}
.box img{
	margin-left: 5px;
	z-index: 999;
	/*cursor: progress;*/
}
.title_p{
	float: none;
	color: #fff;
	padding-top: 13px;
	font-weight: bold;
	margin-right: 450px;
	margin-left: 20px;
}

#myTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#myTable td, #myTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#myTable tr:nth-child(even){background-color: #f2f2f2;}

#myTable tr:hover {background-color: #ddd;}

#myTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
/*--------------------------------------*/
nav{
	background: #00a86b;
	width: 100%;
	height: auto;
	margin: auto;
	z-index: 1;
	opacity: .7;
}
nav:after{
	content: '';
	clear: both;
	display: table;
}
nav .logo{
	float: left;
	color: white;
	font-size: 30px;
	font-weight: 600px;
	padding: 20px;
	display: block;
}
nav ul{
	height: 50px;
	list-style: none;
	margin-left: auto;
	margin-right: auto;

	text-transform: uppercase;
	opacity: 1;
}
nav ul li{
	float: left;
	display: inline-block;
	background: #00a86b;
	margin: 10px;
}

nav ul li a{
	color: white;
	text-decoration: none;
	line-height: 70px;
	font-size: 16px;
	padding: 8px 15px;
}
nav ul li a:hover{
	box-shadow: 0 0 5px #00a86b,
				0 0 5px #00a86b;
	border-radius: 20px;
	transition: .8s;
	font-weight: bold;
	color: #ffffff;
	background: linear-gradient(to right, #FFCA03 30%, #FD5D5D 54%);
}
.fa-plus{
	margin-left: 50px;
	font-size: 15px;
}
section{
	background: url(bg4.jpg) no-repeat center;
	background-size: cover;
	height: calc(100vh - 50px);
}
